[submodule "3party/abseil-cpp"]
	path = 3party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "3party/mimalloc"]
	path = 3party/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "3party/tlx"]
	path = 3party/tlx
	url = https://github.com/tlx/tlx.git
